// Body
$body-bg: #000000;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family: 'Merriweather', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gris: #151521;
$orange:#f19400;
$bordeaux:#8d2463;
$grisclair:#f0f0f0;
$gristresclair:#a1a1ac;
$primary: #fff;
