// Variables
@import 'variables';

$breakpoints: (
	'small': 991px,
) !default;

// Mixins
@mixin mq($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (max-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body {
	font-family: $font-family-sans-serif;
	background-color:$primary;
	margin: 0;
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clear {
	clear: both;
}
h1 {
	font-weight: 700;
	font-size: 40px;
	color:$primary;
	}
h2 {
	font-weight: 400;
	font-size: 18px;
	color:$gris;
	text-align:left;
	border-bottom: 1px solid $gristresclair;
	text-transform: capitalize;
	margin-bottom:20px;

		&:after {
			width: 45px;
			background: $bordeaux;
			content: "";
			margin: 10px 0 -1px;
			display: block;
			height: 1px;
		}
}
h3 {
	color:$orange;
	font-size:12px;
	font-weight: 400;
}
p {
	font-weight: 400;
	font-size: 18px;
	color:$primary;
	font-family: $font-family;
}
a {
	font-weight: 400;
	font-size: 16px;
	color:$primary;
}
ul {list-style: none none;
	margin: 0;
	padding: 0;
}
li {
	font-size:15px;
}

/* Grille */

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -.5);
	margin-left: calc(var(--bs-gutter-x) * -.5);
  }
  .row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y);
  }
  .container {
    width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .m-0 {
	margin: 0 !important;
  }
  
  .m-1 {
	margin: 0.25rem !important;
  }
  
  .m-2 {
	margin: 0.5rem !important;
  }
  
  .m-3 {
	margin: 1rem !important;
  }
  
  .m-4 {
	margin: 1.5rem !important;
  }
  
  .m-5 {
	margin: 3rem !important;
  }  
  .mt-0 {
	margin-top: 0 !important;
  }
  
  .mt-1 {
	margin-top: 0.25rem !important;
  }
  
  .mt-2 {
	margin-top: 0.5rem !important;
  }
  
  .mt-3 {
	margin-top: 1rem !important;
  }
  
  .mt-4 {
	margin-top: 1.5rem !important;
  }
  
  .mt-5 {
	margin-top: 3rem !important;
  }
  .mb-0 {
	margin-bottom: 0 !important;
  }
  
  .mb-1 {
	margin-bottom: 0.25rem !important;
  }
  
  .mb-2 {
	margin-bottom: 0.5rem !important;
  }
  
  .mb-3 {
	margin-bottom: 1rem !important;
  }
  
  .mb-4 {
	margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
	margin-bottom: 3rem !important;
  }
  .breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0;
	margin-bottom: 1rem;
	list-style: none;
  }
  
/* Specificitees */

.module-cover {
	background: url('../img/robot.jpg') no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.module-cover .container {
	padding:5%;
}

.main-content {
	flex-grow:1;
}
.horizontal-list {
	background:rgba(21, 21, 33, 0.9) ;
}
a.horizontal {
    font-size:16px;
    color:$gristresclair;
}
.breadcrumb {
	background-color:transparent;
}
.breadcrumb li {
	background: $bordeaux;
	color:$primary;
	padding:10px;
	text-transform:uppercase;
	transform: skew(-20deg);
}
.breadcrumb li:first-child {
	background: $orange;
	color:$primary;
}
footer {
	background:$gris;
	padding:12px 10px;
}
footer h6, footer h6 a {
	font-size:13px;
	color:$primary;
	text-decoration: none;
}
footer h6 i {
	color:$gristresclair;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align:right;
}
.map-responsive {
	overflow:hidden;
	padding-bottom:50%;
	position:relative;
	height:0;
	background:$gris;
	}
.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	opacity:0.5;
	
	}


@media (min-width: 576px) {
	.container {
	  max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
	  max-width: 720px;
	}
	.col-md-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	  }
	
	  .col-md-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	  }
	
	  .col-md-3 {
		flex: 0 0 auto;
		width: 25%;
	  }
	
	  .col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	  }
	
	  .col-md-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	  }
	
	  .col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	  }
	
	  .col-md-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	  }
	
	  .col-md-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	  }
	
	  .col-md-9 {
		flex: 0 0 auto;
		width: 75%;
	  }
	
	  .col-md-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	  }
	
	  .col-md-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	  }
	
	  .col-md-12 {
		flex: 0 0 auto;
		width: 100%;
	  }
}
@media (min-width: 992px) {
	
	.container {
		max-width: 960px;
	  }
}
@media (min-width: 1200px) {
	.container {
	  max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
	  max-width: 1320px;
	}
}
@media (max-width: 991px) {
	.module-cover {
		background-position: center;
	}
	.col-md-3 {
		width:50%;
	}
}
@media (max-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		width:100%;
	}
}
